
<div class="container mt-5" style="width: 1000px;">
  <h2 class="text-center"><%= @user.name%>さんのフォロー</h2>

  <% if @users.exists? %>
  <%= render 'users/index', users: @users %>

  <% else %>

  <p class="text-center mt-5">ユーザーはいません</p>
  <% end %>

</div>