
<div class="container" style="width: 1000px;">

  <!--検索ボックス-->
    <%= render "search/search-box" %>


  <!--投稿一覧-->
  <h2 class="row justify-content-center border-bottom">新着</h2>

    <%= render "diaries/index", diaries: @diaries %>
  
<div class="row justify-content-center my-5">
  <%= paginate @diaries %>
</div>

</div>