<div class="container mt-5" style="width: 1000px;">

  <h2 class="row justify-content-center border-bottom">週間 good<i class="far fa-thumbs-up", style="color: green;"></i>数ランキング TOP3</h2>
  <h6>※ 先週の投稿の中でgood数の多かった3件を表示しています。</h6>
    <%= render "diaries/index", diaries: @ranks %>

</div>