
<div class="container mt-5" style="width: 1000px;">

  <!--投稿一覧-->
  <h2 class="row justify-content-center border-bottom">good<i class="far fa-thumbs-up", style="color: green;"></i>数ランキングTOP3</h2>
  <h6 class"justify-content-center" style="color: red";>※ 先週の投稿からgood数の多い3件を表示しています。</h6>
    <%= render "diaries/index", diaries: @ranks %>

</div>