<h1>ようこそ、Runnersへ！</h1>
<p>ランニングをする人向けのSNSサイトです。
ランニングは1人ですることが多いため孤独になりがちですが、SNS機能でランニング仲間と繋がることができます。
ランニングをした場所の景色、グッズ、食べ物など様々な写真と一緒にランニングの感想や記録を共有できるため、ランニングをもっと楽しむことができます。
ランニングを継続させたい人も、仲間の投稿や仲間からの「GOOD」をモチベーションに頑張ることができます。
また、ランニングの距離・時間・速度の記録をカレンダーで管理できるため、実績を把握するのに便利です。
</p>