
<div class='main-visual'>
  <div class='main-visual-box'>
    <div class='about-box'>
      
    <p class='text-center'>
      <h1>ランニングを、もっと楽しく。</h1>
      ようこそ、Runnersへ！<br>
      Runnersはランニングをする人向けのSNSサイトです。<br>
      会員登録をするとダイアリーの投稿、他ユーザーの<br>
      投稿へのgood <i class="far fa-thumbs-up", style="color: green;"></i>、コメントができます。<br>
      お気軽にご利用ください。
    </p>
    
    </div>
  </div>
</div>

<footer class="fixed-bottom" style="background-color: black;">
  <div class='container'>
    <div class='row'>
      <div class='mx-auto'>
        <p class='text-light mt-2'>Copyright © Runners All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>